<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.topbaby.cloud.authservice.mappers.MemberCredentialsDao">

    <resultMap id="MemberCredentialsResultMap" type="MemberCredentialsDO">
        <id property="credential" column="credential"/>
        <result property="memberSeq" column="memberSeq" />
        <result property="credentialType" column="credentialType"/>
    </resultMap>

    <sql id="selectWhere">
        <where>
            <if test="credential != null and credential != '' ">
                AND credential = #{credential}
            </if>
            <if test="memberSeq != null and memberSeq != '' ">
                AND memberSeq = #{memberSeq}
            </if>
            <if test="credentialType != null and credentialType != '' ">
                AND credentialType = #{credentialType}
            </if>
        </where>
    </sql>

    <select id="selectByUserSeq" resultMap="MemberCredentialsResultMap"  parameterType="Integer">
        <![CDATA[
			select * from emall_members_credentials
			WHERE memberSeq = #{memberSeq}
		]]>
    </select>

    <select id="selectByValue" resultMap="MemberCredentialsResultMap"  parameterType="String">
        <![CDATA[
			select * from emall_members_credentials WHERE credential = #{credential}
		]]>
    </select>

    <select id="selectList" resultMap="MemberCredentialsResultMap"  parameterType="HashMap">
        <![CDATA[
			select * from emall_members_credentials
		]]>
        <include refid="selectWhere"/>
    </select>

    <select id="selectListByEntity" parameterType="MemberCredentialsDO" resultMap="MemberCredentialsResultMap">
        <![CDATA[
			SELECT * FROM emall_members_credentials
		]]>
        <include refid="selectWhere" />

    </select>

    <select id="selectCountByEntity" parameterType="MemberCredentialsDO" resultType="Integer">
        <![CDATA[
			SELECT count(*) FROM emall_members_credentials
		]]>
        <include refid="selectWhere" />
    </select>

    <select id="selectOne" resultMap="MemberCredentialsResultMap"  parameterType="HashMap">
        <![CDATA[
			select * from emall_members_credentials
		]]>
        <include refid="selectWhere"/>
        LIMIT 1
    </select>

    <select id="selectAll" resultMap="MemberCredentialsResultMap">
        <![CDATA[
			select * from emall_members_credentials
		]]>
    </select>

    <insert id="insert" parameterType="MemberCredentialsDO" keyProperty="id" keyColumn="credential">
        <![CDATA[
			INSERT INTO emall_members_credentials(
				credential,
				memberSeq,
				credentialType)
			VALUES	(
				#{credential},
				#{memberSeq},
				#{credentialType}
			)
		]]>
    </insert>

    <delete id="delete" parameterType="MemberCredentialsDO">
        <![CDATA[
			DELETE FROM  emall_members_credentials
			WHERE memberSeq = #{memberSeq} and credentialType=#{credentialType}
		]]>
    </delete>

    <update id="update" parameterType="MemberCredentialsDO">
        <![CDATA[
			UPDATE emall_members_credentials
			   SET memberSeq=#{memberSeq},
				credentialType=#{credentialType}
			 WHERE credential=#{credential}
		]]>
    </update>
    <update id="updateByUserSeq" parameterType="MemberCredentialsDO">
        <![CDATA[
			UPDATE emall_members_credentials
			   SET credential=#{credential},
				credentialType=#{credentialType}
			 WHERE memberSeq=#{memberSeq}
		]]>
        <if test="credentialType != null and credentialType != '' ">
            AND credentialType=#{credentialType,jdbcType=VARCHAR}
        </if>
    </update>

</mapper>
